* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ############## GENERAL #############  */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

/* ########## HEADER SECTION ############ */
header {
  background-color: #0a0a0b;
}
.header {
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4.8rem;
  height: 7rem;
}
.header-nav-bar {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}
.text-logo:link,
.text-logo:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #999;
}
.btn {
  background: none;
  background-color: #fbe850;
  border: none;
  color: #0a0a0b;
  font-size: 2rem;
  padding: 1.4rem 2rem;
  cursor: pointer;
}

/* ########## HERO SECTION ############ */
.section-hero {
  background-color: #0a0a0b;
  padding: 6.4rem 0;
}
.hero {
  max-width: 60rem;
}
.hero-title {
  font-size: 4.8rem;
  color: #fff;
  font-family: "Prata", serif;
  font-weight: 400;
  line-height: 1.2;
}
.hero-paragraph {
  margin-top: 1rem;
  color: #999;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* ########## FEATURED SECTION ############ */
.section-featured {
  background-color: #0a0a0b;
  padding-bottom: 6.4rem;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
